<div>
  <link href="./project-card.css" rel="stylesheet" />
  <div class="project-card-project-card">
    <img
      alt="image"
      src="public/playground_assets/frame%2042-400w.png"
      image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
      class="project-card-image"
    />
    <div class="project-card-container">
      <div class="project-card-container1">
        <span class="project-card-text content-Light">ANDROID | KOTLIN</span>
        <span class="project-card-text1 content-Light">
          <span>3 days ago</span>
        </span>
      </div>
      <h1 class="project-card-text2 feedtitle"><span>INSTAGRAM CLONE</span></h1>
      <span class="project-card-text3">
        <span>
          We created a clone of instagram app with the photo, video sharing and
          chat features
        </span>
      </span>
      <div class="project-card-container2">
        <div class="project-card-profile">
          <img
            alt="profile"
            src="public/playground_assets/vector%202-200w.png"
            class="project-card-image1"
          />
          <span class="project-card-text4">Ayush Yadav</span>
        </div>
        <span class="project-card-text5"><span>Read More -></span></span>
      </div>
    </div>
  </div>
</div>
